# To test this: git archive --format zip -v -o mqtt.zip HEAD
tests/** export-ignore
vendor/** export-ignore
.vagrant/** export-ignore
.docksal/** export-ignore
docs/** export-ignore
report/** export-ignore

.git* export-ignore
.*.yml export-ignore
.phpcs.cache export-ignore
phpcs.xml* export-ignore
phpstan.neon export-ignore
phpunit.xml* export-ignore

*.php diff=php
