<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="phpcs-mqtt">
    <!-- Files and directories to start scanning -->
    <file>src</file>
    <file>tests</file>

    <!-- include all rules in PSR-12 ruleset -->
    <rule ref="PSR12"/>
</ruleset>

