parameters:
  level: 7
  inferPrivatePropertyTypeFromConstructor: true
  checkGenericClassInNonGenericObjectType: false
  paths:
    - src
    - tests

  ignoreErrors:
    - '#Call to method getPacketIdentifier\(\) on an unknown class unreal4u\\MQTT\\Internals\\PacketIdentifierFunctionality\.#'
    - '#Call to an undefined method Psr\\Log\\LoggerInterface::withName\(\)\.#'
    -
      message: '#Property unreal4u\\MQTT\\Client::\$lastCommunication \(DateTimeImmutable\) does not accept DateTimeImmutable\|false\.#'
      path: %currentWorkingDirectory%/src/Client.php
    -
      message: '#Cannot call method format\(\) on DateTimeImmutable\|false\.#'
      path: %currentWorkingDirectory%/src/Client.php
    -
      message: '#Property unreal4u\\MQTT\\Protocol\\Connect\\Parameters::\$bitFlag has no typehint specified\.#'
      path: %currentWorkingDirectory%/src/Protocol/Connect/Parameters.php
