<phpunit colors="true" bootstrap="./vendor/autoload.php">
    <coverage>
        <include>
            <directory suffix=".php">./src/</directory>
        </include>
        <exclude>
            <file>./src/Client.php</file>
            <directory suffix=".php">./vendor</directory>
        </exclude>
    </coverage>
    <testsuites>
        <testsuite name="Basic library tests">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
